/* CSS Document */
    /*首页和分类页面不一样，头部的命名不一样*/
    .blog_header{margin-top:10px;}
	.blog_header_top {height:60px;background:#F6F6F6;}  
	.blog_header_logo{float:left;width:250px;height:60px;}
	.blog_header_logo img{width:250px;height:60px;}
	.blog_header_text {float:left;width:300px;margin-left:30px;}
	.blog_header_name {float:left;font-size:50px;font-weight:bold;line-height:40px;padding-bottom:0px;padding-top: 2px;}
	.blog_header_p {float:left;font-size:16px;line-height:20px;margin-top:0px;padding-top:0;padding-left:2px;}
	.blog_header_blockquote {margin-top:7px;margin-right:15px;}
	.blog_header_bottom {height:100px;border:1px solid red;}
	.blog_header_bottom img {height:60px;width:980px;}



    .blog_content{margin-top:10px;clear:both;border-bottom:2px solid #FF7200}

	.blog_content_main {float:left;width:660px;border:1px solid red}
	.main_article{}
	.main_article .article_content{padding: 2px;}
	.main_article .article_content table{margin-bottom: 10px;}
	.main_article .article_content table th {border:1px solid red;text-align:center}
	/*列表下面的分页导航*/
	.main_article .article_nav {height: 38px;background:#F6F6F6;}
	.main_article .pagination {margin: 3px 0 0 10px;}
	.main_article .article_nav_page {float:left;border: 1px solid #ddd;height:33px;border-radius: 4px;background-color: #fff;margin:3px 0 0 10px;padding:0 4px;}
	.main_article .article_nav_page span{float:left;margin-top:6px;padding:0 3px;}
	

	.blog_content_aside {float:left;width:300px;margin-right:20px;}
	/*侧边栏，第一部分*/
	.blog_content_aside .aside_search { height: 40px;margin-bottom:10px;background:#F6F6F6;}
	.aside_search .search_select {float:left;width:81px;height:20px;padding-left:6px;margin:10px 11px 0 0px;color:#282828;font-size:12px;border:1px solid #FF7200;}
	.aside_search .search_text {float:left;width:150px;height:20px;margin:10px 10px 0 0;border:1px solid #FF7200;padding-left:4px;font-size:12px;}
    .aside_search .search_btn {float:left;height:20px;margin:10px 0 0 0;border:1px solid #FF7200;background:#FF7200;color:#F6F6F6;line-height: 1px;padding-left:10px;padding-right:10px;}
	.aside_search .search_btn:hover{border:1px solid #FF7200;background:#F6F6F6;color:#FF7200;}	
	/*侧边栏，第二部分*/
	.blog_content_aside .aside_classify{border-radius: 0px;}
	.aside_classify .panel-heading {height: 40px;padding-top: 10px;background-color: #F6F6F6;}
	.aside_classify .list-group-item {padding: 8px 15px;}