/* CSS Document */

    .userstatus {background:#000;height:30px;color:#CCCCCC;}
    .border_red {border:1px solid red;}
	
	
	.clear {clear:both;}
    

	.float_right{float:right;}
	.overflow{overflow:hidden;}
	
	.margin_top {margin-top:10px;}
	.margin_left1 {margin-left:15px;padding:0;}
	.margin_left {margin-left:-15px;}
	.margin_right {margin-right:-15px;}
	
	.padding0 {padding:0;}
	.padding_top {padding-top:10px;}
	
	.diaplaynone {display:none;}